{% macro render_field(field, help=None, class_name="") -%}
  {# choose a base class by field type #}
  {% set base_class = "form-control" %}
  {% if field.type in ("BooleanField", "RadioField") %}
    {% set base_class = "form-check-input" %}
  {% elif field.type in ("SelectField", "SelectMultipleField") %}
    {% set base_class = "form-select" %}
  {% endif %}

  {% set invalid = " is-invalid" if field.errors else "" %}
  {% set classes = (class_name ~ " " ~ base_class ~ invalid).strip() %}
  {% set describedby_id = field.id ~ "-help" %}

  {# BooleanField uses different markup #}
  {% if field.type == "BooleanField" %}
    <div class="form-check mb-3">
      {{ field(class=classes) }}
      {{ field.label(class="form-check-label", for=field.id) }}
      {% if help %}
        <div id="{{ describedby_id }}" class="form-text">{{ help }}</div>
      {% endif %}
      {% if field.errors %}
        <div class="invalid-feedback d-block">
          {% for err in field.errors %}{{ err }}{% if not loop.last %}<br>{% endif %}{% endfor %}
        </div>
      {% endif %}
    </div>
  {% else %}
    <div class="mb-3">
      {{ field.label(class="form-label", for=field.id) }}
      {{ field(class=classes) }}
      {% if help %}
        <div id="{{ describedby_id }}" class="form-text">{{ help }}</div>
      {% endif %}
      {% if field.errors %}
        <div class="invalid-feedback d-block">
          {% for err in field.errors %}{{ err }}{% if not loop.last %}<br>{% endif %}{% endfor %}
        </div>
      {% endif %}
    </div>
  {% endif %}
{%- endmacro %}
